body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-image:url(img/lamborghini.gif);
}
h1 {
    text-align: center;
    margin-top: 2%;
}
h1#chance1,#chance2,#chance3 {
    text-align: center;
    margin-top: 37%;
    color:white;
}
h2{
    text-align: center;
    margin-top: 39%;
    color: white;
}

input{
    position: absolute;
    top:15%;
    left:37%;   
}

button{
    position: absolute;
    top: 15%;
    left: 55%;
}

.form-control {
    width: 15%;
}

#loser {
    margin-top:22%;
    font-weight: bold;
}

#winner {
    margin-top:-20%;
}

div{
    font-size: 30px;
    color:white;
    text-align: center;
}

#logo_winner{
    width: 20%;
    height: 20%;;
    margin-top:-25%;
    float: left;
}

#logo_unicorn{
    margin-top:-25%;
    width: 20%;
    height: 30%;
    float:right;
}